absl-py==2.0.0
antiorm==1.2.1
appnope==0.1.2
argh==0.31.3
arrow==1.3.0
asgiref==3.8.1
astunparse==1.6.3
attrs==23.1.0
backcall==0.2.0
baton==1.0.1
beautifulsoup4==4.11.1
binaryornot==0.4.4
boto3==1.28.62
botocore==1.31.62
bs4==0.0.1
cachetools==5.3.0
certifi==2023.11.17
cffi==1.15.1
chardet==5.2.0
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
coloredlogs==15.0.1
common==0.1.2
comtypes==1.1.14
configure==0.5
contourpy==1.2.0
cookiecutter==2.6.0
crayons==0.4.0
crispy-bootstrap4==2024.10
cryptography==39.0.1
customtkinter==5.2.1
cycler==0.12.1
darkdetect==0.8.0
db==0.1.1
db-sqlite3==0.0.1
defusedxml==0.7.1
distlib==0.3.6
Django==5.1.2
django-allauth==0.52.0
django-autoslug==1.9.8
django-baton==2.2.3
django-cleanup==5.2.0
django-cors-headers==3.13.0
django-countries==7.2.1
django-crispy-forms==2.3
django-filter==22.1
django-rest-auth==0.9.5
django-storages==1.14.2
django-tailwind==3.8.0
django-user-profile==1.0.3
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
dm-tree==0.1.8
docker==7.1.0
docker-py==1.9.0
docopt==0.6.2
easydict==1.11
ecapture==2.0.2
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==0.8.2
ffmpeg==1.4
filelock==3.8.0
Flask==2.2.3
flatbuffers==23.5.26
fonttools==4.45.1
gast==0.5.4
gdown==4.7.1
google-api-core==2.11.0
google-api-python-client==2.78.0
google-auth==2.16.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.1.0
google-pasta==0.2.0
googleapis-common-protos==1.58.0
grpcio==1.59.3
gunicorn==21.2.0
h11==0.14.0
h5py==3.10.0
hgicommon==1.3.1
hgijson==1.3.1
html5lib==1.1
httplib2==0.21.0
humanfriendly==10.0
idna==3.4
imageio==2.33.0
insightface==0.2.1
ipython-genutils==0.2.0
itsdangerous==2.1.2
jaraco.context==4.3.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
Js2Py==0.74
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
keras==2.15.0
keras-core==0.1.7
kiwisolver==1.4.5
lazy_loader==0.3
libclang==16.0.6
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.8.2
mdurl==0.1.2
mistune==0.8.4
ml-dtypes==0.2.0
monotonic==1.6
more-itertools==9.0.0
MouseInfo==0.1.3
mpmath==1.3.0
mypy-extensions==0.4.3
namex==0.0.7
networkx==3.2.1
numpy==1.26.2
oauthlib==3.2.2
onnx==1.15.0
onnxruntime==1.16.3
opencv-contrib-python==4.6.0.66
opencv-python==4.10.0.84
opennsfw2==0.11.0
openpyxl==3.0.10
opt-einsum==3.3.0
outcome==1.3.0.post0
packaging==23.0
pandas==2.1.3
pathtools==0.1.2
pickleshare==0.7.5
piexif==1.1.3
Pillow==10.0.1
pipwin==0.5.2
platformdirs==2.4.1
playsound==1.3.0
prometheus-client==0.12.0
prompt-toolkit==3.0.24
protobuf==4.22.0
psutil==5.9.6
psycopg2==2.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.13
PyAutoGUI==0.9.54
pycparser==2.20
pygame==2.1.3
PyGetWindow==0.0.9
Pygments==2.17.2
pyjokes==0.6.0
pyjsparser==2.7.1
PyJWT==2.1.0
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
PyPrind==2.11.3
pyproject-toml==0.0.10
pyreadline3==3.4.1
PyRect==0.2.0
pyrsistent==0.18.1
PyScreeze==0.1.28
PySimpleGUI==4.60.4
pySmartDL==1.3.4
PySocks==1.7.1
python-dateutil==2.5.3
python-decouple==3.8
python-dotenv==1.0.1
python-slugify==8.0.4
python3-openid==3.2.0
pyttsx3==2.90
pytweening==1.0.4
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
pywhatkit==5.4
pywin32==305
pywinpty==2.0.11
PyYAML==6.0.1
pyzmq==22.3.0
qrcode==7.3.1
referencing==0.31.0
requests==2.28.1
requests-oauthlib==1.3.1
rest-framework-simplejwt==0.0.2
rich==13.7.0
rpds-py==0.13.1
rsa==4.9
s3transfer==0.7.0
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.10.1
selenium==4.15.2
Send2Trash==1.8.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sounddevice==0.4.6
soupsieve==2.2.1
SpeechRecognition==3.9.0
sqlparse==0.4.1
stegano==0.11.4
sympy==1.12
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
TensorFlow1==3.2.0
termcolor==2.3.0
testpath==0.5.0
text-unidecode==1.3
threaded==4.1.0
threadpoolctl==3.2.0
tifffile==2023.9.26
tkinterdnd2==0.3.0
toml==0.10.2
tomli==1.2.3
tornado==6.1
tqdm==4.66.1
traitlets==5.1.1
trio==0.23.1
trio-websocket==0.11.1
ttkthemes==3.2.2
types-python-dateutil==2.9.0.20240316
typing_extensions==4.0.1
tzdata==2022.1
tzlocal==4.2
uritemplate==4.1.1
urllib3==1.26.6
virtualenv==20.16.5
watchdog==0.8.3
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==2.2.3
whitenoise==6.6.0
wikipedia==1.4.0
wolframalpha==5.0.0
wrapt==1.14.1
wsproto==1.2.0
xmltodict==0.13.0
zipp==3.7.0
